h1,
h2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  padding: 10px 0px;
}

.ulist {
  background-color: tan;
}

.ulist li {
  display: inline-block;
  padding-bottom: 10px;
  margin: 0px 150px;
}
h1 {
  background-color: aqua;
}
h2 {
  background-color: teal;
}

p {
  text-align: center;
}

.ulist p {
  text-align: left;
}
