h1 {
  text-align: center;
  background-color: aqua;
  font-family: "Times New Roman", Times, serif;
  padding: 10px 0px;
}

.ulist {
  background-color: tan;
}

.ulist li {
  display: inline-block;
  padding-bottom: 10px;
  margin: 0px 150px;
}
